.three {
    width: 140px;
    height: 190px;
    background-image: url(assets/img/cards2.png);
    background-position: -290px -195px;

}

.seven {
    width: 140px;
    height: 190px;
    background-image: url(assets/img/cards2.png);
    background-position: -145px -970px;
}

.tuz {
    width: 140px;
    height: 190px;
    background-image: url(assets/img/cards2.png);
    background-position: -430px -2330px;
}