.black {
    background: black;
}

.column>div {
    width: 10vmin;
    height: 10vmin;
    border: 1px solid black;
}

.table {
    float: left;
}

.table1 {
    float: left;
}

.table2 {
    float: left;
}

.table3 {
    float: left;
}

.table4 {
    float: left;
}

.table5 {
    float: left;
}

.table6 {
    float: left;
}

.table7 {
    float: left;
}

.table8 {
    float: left;
}
.figura1 {
    background-image: url(../assets/img/chess.png);
}