@keyframes door {
    from {
        fill: #FFFF91;
    }
    to {
        fill: #000;
    }

}

g:hover #svg_14 {
    animation: door 2s ease;
}

@keyframes window {
    from {
        fill: #845335;
    }
    to {
        fill: #00008b;
    }
}

g:hover #svg_13 {
    animation: window 2s ease;
}

@keyframes home {
    from {
        height: 151;
        width: 160.9;
    }
    to {
        height: 180;
        width: 190;
    }
}

g:hover #svg_10 {
    animation: home 2s ease;
}