div {
    width: 50%;
    height: 25px;
    background-color: #dcdcdc;
    font-family: monospace;
    font-size: 1.5vmin;
}

.long {
    width: 50%;
    overflow: auto;
    height: 50px;
    white-space: nowrap;
}

mark {
    background-color: #dcdcdc;
    font-family: Monospace;
}

span {
    color: #5f9ea0;
}
.three {
     width: 50%;
    height: 60px;
    background-color: #dcdcdc;
    display: inline-block;
    
}