div {
    position: absolute;
}

.three {
    width: 140px;
    height: 190px;
    background-image: url(../img/cards2.png);
    background-position: -290px -195px;
    z-index: 30;
    top: 0;
    left: 0;

}

.seven {
    width: 140px;
    height: 190px;
    background-image: url(../img/cards2.png);
    background-position: -145px -970px;
    z-index: 20;
    top: 40px;
    left: 40px;
}

.tuz {
    width: 140px;
    height: 190px;
    background-image: url(../img/cards2.png);
    background-position: -430px -2330px;
    z-index: 10;
    top: 80px;
    left: 80px;
}