.black {
    background: black;
}

.row>div {
    width: 7vmin;
    height: 7vmin;
    border: 1px solid black;
    display: inline-block;
}

.table {
    float: left;
}

.table1 {
    float: left;
}

.table2 {
    float: left;
}

.table3 {
    float: left;
}

.table4 {
    float: left;
}

.table5 {
    float: left;
}

.table6 {
    float: left;
}

.table7 {
    float: left;
}

.table8 {
    float: left;
}
.rook1 {
     background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    background-size: calc(300vmin / 7);
    background-position: 10% 0%;
}